<!-- <div class="container-fluid" ng-controller="MainController">
  <div class="md-whiteframe-5dp" layout="row">
    <ng-md-icon id="menuicon" ng-click="togglesidenav()" class="menuicon" icon="list" size="40" flex="5" hide-gt-md></ng-md-icon>
    <md-toolbar class="md-theme-indigo">
      <h2 class="md-toolbar-tools">1DayJob</h2>
    </md-toolbar>
  </div>
  <div layout="row">
    <md-sidenav
    class="md-sidenav-left md-whiteframe-5dp sidenav"
    md-is-locked-open="$mdMedia('gt-md')"
    md-component-id="sidenave">
      <md-list>
        <md-list-item>
          <md-button ui-sref="app">
              <ng-md-icon icon="person_add" class="sidenavicon"></ng-md-icon>
              Home
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button ui-sref="app.register">
              <ng-md-icon icon="person_add" class="sidenavicon"></ng-md-icon>
              Ragister
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button>
            <ng-md-icon icon="person_add" class="sidenavicon"></ng-md-icon>
            Workers
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button>
            <ng-md-icon icon="person_add" class="sidenavicon"></ng-md-icon>
            Work
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button>
            <ng-md-icon icon="person_add" class="sidenavicon"></ng-md-icon>
            Aboutus
          </md-button>
        </md-list-item>
        <md-list-item>
          <md-button>
            <ng-md-icon icon="person_add" class="sidenavicon"></ng-md-icon>
            Contactus
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content class="md-whiteframe-5dp maincontentdiv" flex>content</md-content>
  </div>
</div> -->
